.pokemon-detail-types {
  display: flex;
  gap: 10px;
}

.pokemon-detail-types__type {
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  padding: 0 10px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
}
