.header {
  --header-bg: var(--primary-color);
  --header-width: var(--layout-max-width);

  top: 0;
  position: sticky;
  z-index: 100;
  width: 100%;
  background-color: var(--header-bg);
}

.header-content {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  max-width: var(--header-width);
  width: 100%;
  margin: 0 auto;
}

.header-content h3 {
  margin: 18px 0;
  grid-column: 2;
  text-align: center;
}
