.back-button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  appearance: none;
  background: none;
  display: inline-block;
}
