:root {
  --bg-color: #d8d8d8;
  --text-color: #323232;
  --primary-color: #ebebeb;
  --secondary-color: #bababa;
  --layout-max-width: 500px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:
    background-color 0.3s,
    color 0.3s;
}

:root.dark-mode {
  --bg-color: #2e2e2e;
  --text-color: #e7e7e7;
  --primary-color: #242424;
  --secondary-color: #8a8a8a;
}

:root.light-mode {
  --bg-color: #d8d8d8;
  --text-color: #323232;
  --primary-color: #ebebeb;
  --secondary-color: #bababa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #2e2e2e;
    --text-color: #e7e7e7;
    --primary-color: #242424;
    --secondary-color: #8a8a8a;
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

button {
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
